build_appleclang_xcode
.DS_Store
dependencies
assets/shaders/Viewer.cso.d
tests/assets/shaders/Viewer.cso.d
tests/assets/shaders/*.cso
tests/assets/shaders/*.cso.h
tests/assets/shaders/*.hash.txt
tests/assets/shaders/*.hash.bin
bin/macOS/log*
bin/Windows/log*
build_msbuild2019_win64
