build_appleclang_xcode
.DS_Store
dependencies
tests/assets/shaders/*.cso.d
tests/assets/shaders/*.hash.txt
tests/assets/shaders/*.hash.bin
bin/macOS/log*
bin/Windows/log*
build_msbuild2019_win64
build_llvm_msbuild2019_win64
include/flatbuffers
tools/cmake
